.main-picture {
  height: 200px;
  width: 50%;
  margin-left: 25%;
  border-radius: 10px;
}

.navigation-pictures {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.navigation-pictures img {
  height: 150px;
  width: 250px;
  cursor: pointer;
}

.navigation-pictures img:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 8px 100px 0px;
}